<script src="assets/js/vendor/jquery.min.js"></script>
<script src="assets/js/vendor/bootstrap.min.js"></script>
<script src="assets/js/vendor/material.min.js"></script>
<script src="assets/js/vendor/ripples.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script>
  $.material.init();
  $(document).ready(function() {
    $('#table_cars').DataTable({
        "aLengthMenu": [[5, 10, 20, 30, 50, 75, -1], [5, 10, 20, 30, 50, 75, "Todos"]],
        "iDisplayLength": 5,
    	"language": {
            "url": "./config/Spanish.json"
        }
    });
    $('#table_brands').DataTable({
        "aLengthMenu": [[5, 10, 20, 30, 50, 75, -1], [5, 10, 20, 30, 50, 75, "Todos"]],
        "iDisplayLength": 5,
      "language": {
            "url": "./config/Spanish.json"
        }
    });
    $('#table_models').DataTable({
        "aLengthMenu": [[5, 10, 20, 30, 50, 75, -1], [5, 10, 20, 30, 50, 75, "Todos"]],
        "iDisplayLength": 5,
      "language": {
            "url": "./config/Spanish.json"
        }
    });
    $('#table_colors').DataTable({
        "aLengthMenu": [[5, 10, 20, 30, 50, 75, -1], [5, 10, 20, 30, 50, 75, "Todos"]],
        "iDisplayLength": 5,
      "language": {
            "url": "./config/Spanish.json"
        }
    });
    $('#table_gases').DataTable({
        "aLengthMenu": [[5, 10, 20, 30, 50, 75, -1], [5, 10, 20, 30, 50, 75, "Todos"]],
        "iDisplayLength": 5,
      "language": {
            "url": "./config/Spanish.json"
        }
    });
    $('#table_users').DataTable({
        "aLengthMenu": [[5, 10, 20, 30, 50, 75, -1], [5, 10, 20, 30, 50, 75, "Todos"]],
        "iDisplayLength": 5,
      "language": {
            "url": "./config/Spanish.json"
        }
    });
    $('#table_inventario').DataTable({
        "aLengthMenu": [[5, 10, 20, 30, 50, 75, -1], [5, 10, 20, 30, 50, 75, "Todos"]],
        "iDisplayLength": 5,
      "language": {
            "url": "./config/Spanish.json"
        }
    });
    $('#table_venta').DataTable({
        "aLengthMenu": [[5, 10, 20, 30, 50, 75, -1], [5, 10, 20, 30, 50, 75, "Todos"]],
        "iDisplayLength": 5,
      "language": {
            "url": "./config/Spanish.json"
        }
    });
  } );
</script>
</body>
</html>