{include file='header.html'}
{if $menu_type == 1}
	{include file='menu_admin.html'}
{else}
	{include file='menu_venta.html'}
{/if}
<div class="container-fluid container-perfil">
	<div class="row">
		<div class="col-lg-12">
			<div class="jumbotron">
			  <h1>Hello, world!</h1>
			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dolor labore est odio, illum unde nobis in. Id omnis a, ut quibusdam velit optio repellendus, libero animi maiores sed blanditiis.</p>
			  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
			</div>
		</div>
	</div>
</div>
{include file='footer.html'}